<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="PATTERN">[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %c{1.} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="File"
                     fileName="${LOG_DIR}/app.log"
                     filePattern="${LOG_DIR}/app-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${PATTERN}"/>

            <Policies>
                <OnStartupTriggeringPolicy/>

                <TimeBasedTriggeringPolicy/>

                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>